body {
	background-color: gray;
	text-align: center;
  }

h1 {
	padding-top: 30px;
	color: rgb(3, 3, 3);

}
p {
	font-size: 16px;
	font-weight: 500;
	color: black;
	width: 60%;
	margin: 0 auto;
}
h2 {
	font-size: larger;
}
ul {
	font-weight: 200;
}
img {
	width: 30%;
	height: 30%;
}